# Sentence Transformer model for creating embeddings
sentence-transformers


# FAISS is used for vector similarity search
faiss-cpu


pydantic

# OpenAI API communication
openai


# Load environment variables
python-dotenv


# Data processing
numpy

uvicorn

fastapi